* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.book-card {
    background-color: #e2e8f0;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #475569;
    padding: 10px;
    width: 200px;
    height: 250px;
    font: inherit;
    margin: 10px;
}
.delete-button, .read-status-button {
    width: 100%;
    padding: 8px;
    background-color: #475569;
    color: white;
    margin-top: 5px;
}
.heading {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 30em;
    height: 15vh;
}
.heading h1 {
    font-size: 3em;
}
.add-book-button {
    padding: 10px 35px;
    background-color: #475569;
    border-radius: 8px;
    font-size: 1.5em;
    color: white;
    border: none;
    cursor: pointer;
}

.book-card-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f5f9;
    height: 85vh;
    align-items:flex-start;
    justify-content: left;
    padding: 20px;
    gap: 30px;
}

.form-popup {
    display: none;
    position: fixed;
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
}   

.form-container {
    max-width: 350px;
    padding: 20px;
    background-color: white;
}

.form-container input[type=text] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    background-color: #f1f1f1;
    border: none;
}

.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container button {
    width: 100%;
    background-color: #94a3b8;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}


.form-container h2 {
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 10px;
}





